body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
}

.header {
    height: 72px;
    background: #1f2937;
    align-items: center;
    color: #00a5bb;
    flex-wrap: wrap;
}

.whole {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    margin: 0 112px;
}

.logo {
    font-size: 24px;
    font-weight: 900;
}

.header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin: 8px;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.cover {
    background: #1f2937;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 300px;
    color: white;
    margin: 0 112px;
    gap: 16px;
}

.wrap {
    flex: 1;
    width: 600px;
    flex-shrink: 0;
    height: 200px;
    /* border: 1px solid red; */
}

.image {
    background: white;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.info-heading {
    font-size: 36px;
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.tiles {
    display: flex;
    height: 300px;
    flex-direction: row;
}

.product {
    font-weight: 900;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    width: 160px;
    border: 4px solid #3882f6;
    border-radius: 8px;
    justify-self: space-around;
    margin: 16px;
}

button {
    padding: 6px 16px;
    border-radius: 6px;
    background: #3882f6;
    color: white;
}

.testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background: #e5e7eb;
    gap: 8px;
    /* background: yellow; */

}

#tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card,
.product,
.description {
    margin-bottom: 0;
}

.client {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex: 1;
    gap: 10px;
    height: 100%;  
}

.image_icon {
    height: 48px;
    width: 48px;
    border: 4px solid rgb(39, 39, 39);
    border-radius: 50%;

}

.action {
    height: 300px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 2px solid white;
}

.ac {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3882f6;
    width: 800px;
    height: 112px;
    border-radius: 8px;
    flex-grow: 1;
    margin: 96px;
}

.footer {
    height: 72px;
    background: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.hold {
    display: flex;
    flex-direction: column;
    align-items:center;
}